<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Task</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Header -->
<nav class="navbar navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/tasks">Task Activity Planner</a>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-outline-light">Logout</button>
        </form>
    </div>
</nav>

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Tasks list -->
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/tasks">Your Tasks</a>
                </li>
                <!-- User account -->
                <li class="nav-item">
                    <a class="nav-link" href="/account">Your Account</a>
                </li>
            </ul>
        </div>
        <!-- Go back button -->
        <a class="btn btn-outline-dark" type="button"
           href="/tasks">Back</a>
    </div>
</nav>

<!-- Page Heading -->
<div class="text-center" style="margin: 25px 0px;">
    <h2 class="text-center">Edit your task</h2>
</div>

<div class="container-fluid" style="max-width: 50%">
    <form class="text-center" th:object="${task}" th:action="@{'/edit-task/'+${task.id}}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group" style="margin: 5px 0px">

            <!-- Task Name -->
            <div class="form-floating" style="margin:10px 0px">
                <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Give your task a name" autofocus="autofocus"/>
                <label for="name">Title</label>
                <div class="text text-warning"
                     th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                </div>
            </div>

            <!-- Task Description -->
            <div class="form-floating" style="margin:10px 0px">
                <input type="text" class="form-control" id="description" th:field="*{description}" placeholder="Describe your task"/>
                <label for="description">Description</label>
                <div class="text text-warning"
                     th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                </div>
            </div>

            <!-- Task Due Date -->
            <div class="form-floating" style="margin:10px 0px">
                <input type="date" data-date-format='yyyy-MM-dd' class="form-control" id="date" th:field="*{date}" placeholder="yyyy-MM-dd"/>
                <label for="date">Due date</label>
                <div class="text text-warning"
                     th:if="${#fields.hasErrors('date')}" th:errors="*{date}">
                </div>
            </div>

            <!-- Task Tag -->
            <div class="form-floating" style="margin:10px 0px">
                <input type="text" class="form-control" id="tag" th:field="*{tag}" placeholder="Give your task a memorable tag"/>
                <label for="tag">Tag</label>
                <div class="text text-warning"
                     th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}">
                </div>
            </div>

            <!-- Task Priority select -->
            <div class="form-floating" style="margin:10px 0px">
                <select class="form-select" id="priority" th:field="*{priority}">
                    <option selected th:value="Normal"></option>
                    <option th:value="Trivial" th:text="Trivial"></option>
                    <option th:value="Normal" th:text="Normal"></option>
                    <option th:value="Urgent" th:text="Urgent"></option>
                </select>
                <label for="priority">Priority</label>
                <div class="text text-warning"
                     th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}">
                </div>
            </div>

            <div class="row"  style="margin:10px 0px">
                <input type="submit" value="Save changes" class="btn btn-dark"/>
            </div>

        </div>
    </form>
</div>

</body>
</html>