<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Error occured</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Header -->
<nav class="navbar navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Task Activity Planner</a>
    </div>
</nav>

<!-- Page Heading -->
<div class="text-center" style="margin: 25px 0px;">
    <h2 class="text-center">An error occured</h2>
</div>

<!-- Return to previous page button -->
<div class="text-center" style="margin: 25px 0px;">
    <a href="/tasks" class="btn btn-primary" />Back</a>
</div>

</body>
</html>