<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Task Activity Planner</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/tasks">Task Activity Planner</a>
        <a class="btn btn-outline-light" href="/login"/>Login</a>
    </div>
</nav>

<!-- Page Heading -->
<div class="text-center" style="margin: 25px 0px;">
    <h2 class="text-center">Register for an account</h2>
</div>

<!-- Registration form -->
<div class="container-fluid" style="max-width: 50%">
    <form class="text-center" th:action="@{/}" th:object="${user}" method="post">
        <!-- Email input -->
            <div class="form-floating" style="margin:10px 0px">
                <input th:field="*{email}" type="email" class="form-control" id="email">
                <label for="email">Email address</label>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
        <!-- Password input -->
            <div class="form-floating" style="margin:10px 0px">
                <input th:field="*{password}" type="password" class="form-control" id="password" placeholder="Password">
                <label for="password">Password</label>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
        <!-- Firstname input -->
            <div class="form-floating" style="margin:10px 0px">
                <input th:field="*{firstname}" type="text" class="form-control" id="firstname" placeholder="First name">
                <label for="firstname">First name</label>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>
            </div>
        <!-- Lastname input -->
            <div class="form-floating" style="margin:10px 0px">
                <input th:field="*{lastname}" type="text" class="form-control" id="lastname" placeholder="Last name">
                <label for="lastname">Last name</label>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
            </div>
        <!-- Submit button -->
        <button class="btn btn-block btn-lg btn-dark" style="margin:10px 0px" type="submit">Sign up</button>
    </form>
</div>



</body>
</html>