<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Header -->
<nav class="navbar navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Task Activity Planner</a>
        <a class="btn btn-outline-light" href="/"/>Register</a>
    </div>
</nav>

<!-- Warning validation alert -->
<div class="alert alert-warning" th:if="${param.error}">
    <h4>One or more of your fields aren't valid</h4>
</div>

<!-- Page Heading -->
<div class="text-center" style="margin: 25px 0px;">
    <h2 class="text-center">Login with your account</h2>
</div>

<!-- Login form -->
<div class="container-fluid" style="max-width: 50%">
    <form class="text-center" th:action="@{/login}" method="post">
        <!-- Email input -->
        <div class="form-floating" style="margin:10px 0px">
            <input type="email" class="form-control" id="email" name="username" autofocus="autofocus">
            <label for="email">Email address</label>
        </div>
        <!-- Password input -->
        <div class="form-floating" style="margin:10px 0px">
            <input type="password" class="form-control" id="password" name="password">
            <label for="password">Password</label>
        </div>
        <!-- Submit button -->
        <button class="btn btn-block btn-lg btn-dark" style="margin:10px 0px" type="submit">Login</button>

    </form>
</div>

</body>
</html>