<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Account</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css"/>
</head>
<body>

<!-- Header -->
<nav class="navbar navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/tasks">Task Activity Planner</a>
        <div class="btn-group">
            <!-- Account button, labelled with user's email address (from spring security) -->
            <a class="btn btn-outline-light" href="/tasks">manager@mail.com</a>
            <!-- Logout button, uses javascript to submit the form without impacting look of button -->
            <form action="/logout" method="post" name="logoutForm" hidden="hidden"><input type="hidden" name="_csrf" value="900895de-ec78-452a-98d8-c30ec7a434a4"/></form>
            <a href="javascript: document.logoutForm.submit()" type="submit" class="btn btn-outline-light">Logout</a>
        </div>
    </div>
</nav>

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="d-flex flex-row" id="navbarNav">
            <ul class="navbar-nav">
                <!-- All Tasks list -->
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/tasks">All Tasks</a>
                </li>
                <!-- Important Tasks -->
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/urgent-tasks">Urgent Tasks</a>
                </li>
                <!-- Finished Tasks -->
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/finished-tasks">Finished Tasks</a>
                </li>
            </ul>
        </div>
        <div> <!-- Add Task button -->
            <a class="btn btn-primary" type="button" href="/add-task">Add Task (+)</a>
        </div>
    </div>
</nav>

</body>
</html>