<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Task</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css} "/>
</head>
<body class="bg-dark">

<!-- Header -->
<nav class="navbar navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/tasks">Task Activity Planner</a>
        <div class="btn-group">
            <!-- Account button, labelled with user's email address (from spring security) -->
            <a class="btn btn-outline-light" href="/tasks" sec:authentication="name">Account</a>
            <!-- Logout button, uses javascript to submit the form without impacting look of button -->
            <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm"></form>
            <a href="javascript: document.logoutForm.submit()" type="submit" class="btn btn-outline-light">Logout</a>
        </div>
    </div>
</nav>

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="d-flex flex-row" id="navbarNav">
            <ul class="navbar-nav">
                <!-- All Tasks list -->
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/tasks">All Tasks</a>
                </li>
                <!-- Important Tasks -->
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/urgent-tasks">Urgent Tasks</a>
                </li>
                <!-- Finished Tasks -->
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/finished-tasks">Finished Tasks</a>
                </li>
            </ul>
        </div>
        <div> <!-- Save Task button -->
            <input type="submit" form="taskForm" value="Save Task" class="btn btn-success"/>
        </div>
    </div>
</nav>

<!-- Page Heading -->
<div class="text-center text-light" style="margin: 25px 0px;">
    <h2 class="text-center">Make amends</h2>
</div>

<div class="container-fluid" style="max-width: 50%">
    <form id="taskForm" class="text-center" th:object="${task}" th:action="@{'/edit-task/'+${task.id}}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group" style="margin: 5px 0px">

            <!-- Task Name -->
            <div class="form-floating" style="margin:10px 0px">
                <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Give your task a name" autofocus="autofocus"/>
                <label for="name">Title</label>
                <div class="text text-warning"
                     th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                </div>
            </div>

            <!-- Task Description -->
            <div class="form-floating" style="margin:10px 0px">
                <input type="text" class="form-control" id="description" th:field="*{description}" placeholder="Describe your task"/>
                <label for="description">Description</label>
                <div class="text text-warning"
                     th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                </div>
            </div>

            <!-- Task Due Date -->
            <div class="form-floating" style="margin:10px 0px">
                <input type="date" data-date-format='yyyy-MM-dd' class="form-control" id="date" th:field="*{date}" placeholder="yyyy-MM-dd"/>
                <label for="date">Due date</label>
                <div class="text text-warning"
                     th:if="${#fields.hasErrors('date')}" th:errors="*{date}">
                </div>
            </div>

            <!-- Task Tag -->
            <div class="form-floating" style="margin:10px 0px">
                <input type="text" class="form-control" id="tag" th:field="*{tag}" placeholder="Give your task a memorable tag"/>
                <label for="tag">Tag</label>
                <div class="text text-warning"
                     th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}">
                </div>
            </div>

            <!-- Task Priority select -->
            <div class="form-floating" style="margin:10px 0px">
                <select class="form-select" id="priority" th:field="*{priority}">
                    <option selected th:value="Normal"></option>
                    <option th:value="Trivial" th:text="Trivial"></option>
                    <option th:value="Normal" th:text="Normal"></option>
                    <option th:value="Urgent" th:text="Urgent"></option>
                </select>
                <label for="priority">Priority</label>
                <div class="text text-warning"
                     th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}">
                </div>
            </div>


            <div class="row"  style="margin:10px 0px">
                <input type="submit" value="Update Task" class="btn btn-primary"/>
            </div>

        </div>
    </form>
</div>

</body>
</html>